# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Test & Coverage artifacts
.pytest_cache/
coverage/
htmlcov/

# Build and distribution
build/
dist/

node_modules/
# OS-specific
.DS_Store

# Log files
*.log
logs/*

# Environment variables
.env*
!.env.example

# RPA Captures
captures/*
!captures/example/

# Non test yaml scripts
*.yaml
!example*.yaml

# Backups
ts_backup/
