# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Test & Coverage artifacts
.pytest_cache/
coverage/
htmlcov/
nohup.out

# Build and distribution
build/
dist/

node_modules/
# OS-specific
.DS_Store

# Log files
# Ignore all log files...
logs/*
# ...but not the captures directory itself, so we can create an exception within it.
!logs/captures/

# Captures
captures/*
!captures/example/

# Environment variables
.env*
!.env.example

# Security Audit
SECURITY_AUDIT.md

# RPA Captures
logs/captures/*
!logs/captures/example/

# Non test yaml scripts
*.yaml
!example*.yaml
!.cline/*.yaml

# Backups
ts_backup/
